// LOGO
.logo {
	height: 3.25rem;
	margin-left: 2rem;
}

// SEARCH
.search {
	flex: 0 0 40%;

	display: flex;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $bp-smallest) {
		order: 1;
		flex-basis: 100%;
		background-color: var(--color-grey-light-2);
	}

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 100px;
		width: 90%;
		transition: all 0.2s;
		margin-right: -3.25rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}

	&__input:focus + &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
			color: red !important;
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);
	}
}

// USER NAVIGATION
.user-nav {
	align-self: stretch;

	display: flex;
	align-items: center;

	& > * {
		padding: 0 2rem;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
	}

	& > *:hover {
		background-color: var(--color-grey-light-2);
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-3);
	}

	&__icon-box {
		position: relative;
	}

	&__natification {
		font-size: 0.8rem;
		height: 1.75rem;
		width: 1.75rem;
		border-radius: 50%;
		background-color: var(--color-primary);
		color: #fff;
		position: absolute;
		top: 1.5rem;
		right: 1.1rem;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__user-photo {
		height: 3.75rem;
		border-radius: 50%;
		margin-right: 1rem;
	}

	&__user-name {
	}
}

// SIDE NAVIGATION
.side-nav {
	font-size: 1.4rem;
	list-style: none;
	margin-top: 3.5rem;

	@media only screen and (max-width: $bp-medium) {
		display: flex;
		margin: 0;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 0.5rem;

			@media only screen and (max-width: $bp-medium) {
				margin-bottom: 0;
			}
		}

		@media only screen and (max-width: $bp-medium) {
			flex: 1;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: var(--color-primary);
		transform: scaleY(0);
		transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
			background-color 0.1s;
	}

	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);
		width: 100%;
	}

	&__item:active::before {
		background-color: var(--color-primary-light);
	}

	&__link:link,
	&__link:visited {
		color: var(--color-grey-light-1);
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 10;

		display: flex;
		align-items: center;

		@media only screen and (max-width: $bp-medium) {
			justify-content: center;
			padding: 2rem;
		}

		@media only screen and (max-width: $bp-small) {
			flex-direction: column;
			padding: 1.5rem 0.5rem;
		}
	}

	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		margin-right: 2rem;
		fill: currentColor;

		@media only screen and (max-width: $bp-small) {
			margin-right: 0;
			margin-bottom: 7px;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

// LEGAL
.legal {
	font-size: 1.2rem;
	color: var(--color-grey-light-4);
	text-align: center;
	padding: 2.5rem;

	@media only screen and (max-width: $bp-medium) {
		display: none;
	}
}

.legal > a {
	color: var(--color-grey-light-4);
	text-decoration: none;
}

// GALLERY
.gallery {
	display: flex;

	&__photo {
		width: 100%;
		display: block;
	}
}

// HOTEL OVERVIEW
.overview {
	display: flex;
	align-items: center;
	border-bottom: var(--line);

	&__heading {
		font-size: 2.25rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1.5rem 3rem;

		@media only screen and (max-width: $bp-small) {
			font-size: 1.8rem;
			padding: 1.25rem 2rem;
		}
	}

	&__stars {
		margin-right: auto;
		display: flex;
	}

	&__icon-star,
	&__icon-location {
		width: 1.75rem;
		height: 1.75rem;
		fill: var(--color-primary);
	}

	&__location {
		font-size: 1.2rem;
		display: flex;
		vertical-align: center;
	}

	&__icon-location {
		margin-right: 0.5rem;
	}

	&__rating {
		background-color: var(--color-primary);
		color: #fff;
		margin-left: 3rem;
		padding: 0 2.25rem;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media only screen and (max-width: $bp-small) {
			padding: 0 1.5rem;
		}
	}

	&__rating-average {
		font-size: 2.25rem;
		font-weight: 300;

		@media only screen and (max-width: $bp-small) {
			font-size: 1.8rem;
		}
	}

	&__rating-count {
		font-size: 0.8rem;
		text-transform: uppercase;

		@media only screen and (max-width: $bp-small) {
			font-size: 0.5rem;
		}
	}
}

// BUTTON INLINE
.btn-inline {
	border: none;
	color: var(--color-primary);
	font-size: inherit;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s;

	& span {
		margin-left: 3px;
		transition: margin-left 0.2s;
	}

	&:hover {
		color: var(--color-grey-dark-1);

		span {
			margin-left: 8px;
		}
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: none;
	}

	50% {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
	}

	100% {
		transform: scale(1);
		box-shadow: none;
	}
}

// PARAGRAPH
.paragraph:not(:last-of-type) {
	margin-bottom: 2rem;
}

// LIST
.list {
	list-style: none;
	margin: 3rem 0;
	padding: 3rem 0;
	border-top: var(--line);
	border-bottom: var(--line);

	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 50%;
		margin-bottom: 0.7rem;
	}

	&__item::before {
		content: '';
		display: inline-block;
		width: 1rem;
		height: 1rem;
		margin-right: 0.7rem;
		background-color: var(--color-primary);
		-webkit-mask-image: url(../img/chevron-thin-right.svg);
		-webkit-mask-size: cover;
	}
}

// RECOMMEND
.recommend {
	font-size: 1.3rem;
	color: var(--color-grey-dark-3);

	display: flex;
	align-items: center;

	&__count {
		margin-right: auto;
	}

	&__friends {
		display: flex;
	}

	&__photo {
		box-sizing: content-box;
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		border: 3px solid #fff;

		&:not(:last-child) {
			margin-right: -2rem;
		}
	}
}

// REVIEWS
.review {
	background-color: #fff;
	box-shadow: var(--shadow-light);
	padding: 3rem;
	margin-bottom: 3.5rem;
	position: relative;
	overflow: hidden;

	@media only screen and (max-width: $bp-medium) {
		padding: 2rem;
		margin-bottom: 3rem;
	}

	&__text {
		margin-bottom: 2rem;
		z-index: 1;
		position: relative;
	}

	&__user {
		display: flex;
		align-items: center;
	}

	&__photo {
		height: 4.5rem;
		width: 4.5rem;
		border-radius: 50%;
		margin-right: 1.5rem;
	}

	&__user-box {
		margin-right: auto;
	}

	&__user-name {
		font-size: 1.1rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0.4rem;
	}

	&__user-date {
		font-size: 1rem;
		color: var(--color-grey-dark-3);
	}

	&__rating {
		color: var(--color-primary);
		font-size: 2.2rem;
		font-weight: 300rem;
	}

	&::before {
		content: '\201C';
		position: absolute;
		top: -2.75rem;
		left: -1rem;
		line-height: 1;
		font-size: 20rem;
		color: var(--color-grey-light-2);
		font-family: sans-serif;
		z-index: 1;
	}
}

// CALL TO ACTION
.cta {
	padding: 3.5rem 0;
	text-align: center;

	@media only screen and (max-width: $bp-medium) {
		padding: 2.5rem 0;
	}

	&__book-now {
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 2.5rem;
	}
}

.btn {
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	background-image: linear-gradient(
		to right,
		var(--color-primary-light),
		var(--color-primary-dark)
	);
	color: #fff;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	& > * {
		display: inline-block;
		height: 100%;
		width: 100%;
		transition: all 0.2s;
	}

	&__visible {
		padding: 2rem 7.5rem;
	}

	&__invisible {
		position: absolute;
		padding: 2rem 0;
		left: 0;
		top: -100%;
	}

	&:hover {
		background-image: linear-gradient(
			to left,
			var(--color-primary-light),
			var(--color-primary-dark)
		);
	}

	&:hover &__visible {
		transform: translateY(100%);
	}

	&:hover &__invisible {
		top: 0;
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}
